{% extends 'learnedu/main_wrapper.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="row py-2">
    <div class="col-md-12 mx-auto">
        <!-- Profile widget -->
        <div class="container-fluid bg-white shadow rounded overflow-hidden p-4">
            {% if profile.background_picture %}
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center pb-4">
                    <img src="{{ profile.background_picture.url }}" width="1300" min-height="150" height="300" alt="..."
                        class="img-responsive">
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-3 pt-0 pb-4">
                    <div class="media align-items-end profile-head">
                        <div class="profile mx-3">
                            {% if profile.picture %}
                            <img src="{{ profile.picture.url }}" alt="..." width="200"
                                class="rounded mb-2 img-thumbnail">
                            {% else %}
                            <img src="{% static 'assets/media/avatars/avatar0.jpg' %}" alt="..." width="200"
                                class="rounded mb-2 img-thumbnail">
                            {% endif %}
                            {% if request.user.profile == profile %}
                            <a data-toggle="modal" data-target="#staticBackdrop"
                                class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card border">
                        <div class="card-body">
                            <h3 class="mb-0 card-title">About</h3>
                            <p class="card-text lead">
                                <b>{{ profile.user.first_name }} {{ profile.user.last_name }}</b> <i>(aka
                                    {{ profile.user.username }})</i>
                            </p>
                            {% if profile.birth_date %}
                            <p class="card-text lead">
                                <b>Date of birth:</b> {{ profile.birth_date }}
                            </p>
                            {% endif %}

                            <h3 class="mb-0 card-title">Bio</h3>
                            {% if profile.bio %}
                            <p class="card-text mb-0 lead">{{ profile.bio }}</p>
                            {% else %}
                            <p class="card-text mb-0 lead"><b><em>No bio is provided</em></b></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-4 px-4">
                <div class="col-md-8">
                    <h3 class="mb-3">Recent posts</h3>
                    {% if profile.post_set.values %}
                    {% for post in profile.post_set.values %}
                    {% if post.is_active %}
                    <div class="media mt25 p-3 border">
                        <div class="media-body pl-3">
                            <div class="d-flex">
                                <h5 class="media-heading mb-2">
                                    {{ post.title }}
                                    <small> - {{ post.publish_date }}</small>
                                </h5>
                                {% if request.user.profile == profile %}
                                <div class="ml-3 px-2">
                                    <a href="{% url 'delete_post' username=request.user.username id=post.id %}"
                                        class="text-danger">Delete</a>
                                </div>
                                {% endif %}
                            </div>
                            <p>{{post.content}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p class="lead">Nothing was published before...</p>
                    {% endif %}
                </div>
                {% if request.user.profile == profile %}
                <div class="col-md-4">
                    <h3 class="mb-3">Add a new post</h3>
                    <form method='POST' action="{% url 'create_post' username=request.user.username %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ post_form.title }}
                        </div>
                        <div class="form-group">
                            {{ post_form.content }}
                        </div>
                        <button style="background-color:#474f63;" type="submit" class="btn text-light">Publish</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit_profile' username=request.user.username %}"
                    enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ profile_form.bio }}
                        {{ profile_form.bio.help_text }}
                    </div>
                    <div class="form-group">
                        <label>Date of birth</label>
                        {{ profile_form.birth_date }}
                        {{ profile_form.birth_date.help_text }}
                    </div>
                    <div class="form-group">
                        <label>Profile picture:</label>
                        {{ profile_form.picture }}
                        {{ profile_form.picture.help_text }}
                    </div>
                    <div class="form-group">
                        <label>Background image:</label>
                        {{ profile_form.background_picture }}
                        {{ profile_form.background_picture.help_text }}
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}