{% block footer %}
<footer class="page-footer font-small bg-dark text-light pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-sm-12 col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase">LearnEdu</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-6 col-md-3 mb-md-0">
                <h5 class="text-uppercase">Pages</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-info" href="#!">Blogs</a>
                    </li>
                    <li>
                        <a class="text-info" href="{% url 'news' %}">News</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-6 col-md-3 mb-md-0">
                <!-- Links -->
                <h5 class="text-uppercase">Social Medias</h5>
                <ul class="list-group list-unstyled list-group-horizontal">
                    <li class="p-2">
                        <a href="https://www.youtube.com/">
                            <img width="32" height="32" src="https://www.madsnailtravel.com/images/youtube.svg">
                        </a>
                    </li>
                    <li class="p-2">
                        <a href="https://www.instagram.com/">
                            <img width="32" height="32" src="https://www.madsnailtravel.com/images/instagram.svg">
                        </a>
                    </li>
                    <li class="p-2">
                        <a href="https://www.facebook.com/">
                            <img width="32" height="32" src="https://www.madsnailtravel.com/images/facebook.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© By:
        <a href="">Sharipbay Batyrkhan</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}