{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" src="{% static 'assets/media/favicons/favicon.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news' %}">News</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ request.user.profile.get_absolute_url }}">Profile</a>
          <a class="dropdown-item" href="{% url 'courses_page' username=request.user.username %}">Courses</a>
          <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item d-flex ml-2">
        <a class="nav-link font-weight-bold text-info" href="{% url 'login' %}">Sign in</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}